@font-face {
    font-family: 'regular'; 
    src: url(../fonts/Roboto-Regular.ttf);
    src: url(../fonts/Roboto-Regular.otf);
    src: url(../fonts/Roboto-Regular.eot);
    src: url(../fonts/Roboto-Regular.woff);
}

@font-face {
    font-family: 'light'; 
    src: url(../fonts/Roboto-Light.ttf);
    src: url(../fonts/Roboto-Light.otf);
    src: url(../fonts/Roboto-Light.eot);
    src: url(../fonts/Roboto-Light.woff);
}

@font-face {
    font-family: 'bold'; 
    src: url(../fonts/Roboto-Bold.ttf);
    src: url(../fonts/Roboto-Bold.otf);
    src: url(../fonts/Roboto-Bold.eot);
    src: url(../fonts/Roboto-Bold.woff);
}

@font-face {
    font-family: 'italic'; 
    src: url(../fonts/Roboto-Italic.ttf);
    src: url(../fonts/Roboto-Italic.otf);
    src: url(../fonts/Roboto-Italic.eot);
    src: url(../fonts/Roboto-Italic.woff);
}